<div class="col-md-12">
	<div class="group">
		<% if currentuser %>
			<%= link_to("编辑", edit_movie_path(@movie), class: "btn btn-primary pull-right")%>
		<% end %>
	</div>
	<h2><%= @movie.title %></h2>
	<p><%= @movie.theaterdate %></p>
	<p><%= @movie.description %></p>
</div>